<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
    <script src="./vue.min.prod.js"></script>
    <title>SPA Users</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but codesandbox doesn't work properly without JavaScript
        enabled. Please enable it to continue.</strong>
    </noscript>

    <div id="app">
		<h1><a href="">{{ hello }}</a></h1>
      <hr>
      <div class="container">
          <label for="user-id">Id:</label>
          <input class="add-new-user-id" type="number" id="user-id" v-model="getNewId" disabled>
          <label for="user-name">Name:</label>
          <input class="add-new-user" type="text" name="name" id="user-name" v-model="newuser.name" placeholder="Enter your name..." required>
          <label>E-mail:</label>
          <input class="add-new-user" type="email" name="email" id="email" v-model="newuser.email" placeholder="Enter your e-mail..." required>
          <label>Avatar (url):</label>
          <input class="add-new-user" type="text" id="photo" v-model="newuser.photo" required>
        <br><br>
          <button @click="addUser" class="btn btn-primary btn-xs">Add user</button>
      </div>

      <hr>

      <table class="table">
        <caption>Users editor</caption>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>E-mail</th>
          <th>Avatar</th>
        </tr>
        <tr v-for="(user, index) in users">
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.avatar }}</td>
          <td>
            <a href="#" class="btn btn-primary a-btn-slide-text" @click="editUser">
              <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
              <span><strong>Edit</strong></span>
            </a>
          </td>
          <td>
            <button class="btn btn-xs btn-danger" @click="deleteUser(index)">Delete</button>
          </td>
        </tr>
      </table>
	</div>
  
    <script src="./main.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
  </body>
</html>
