body {
    background: whitesmoke;
}

h1 {
    text-align: center;
}

li {
    list-style-type: none;
}

.add-new-user {
    width: 20%;
}

.add-new-user-id {
    width: min-content;
}

.btn-add-new-user {
    width: 150px;
    position: center;
    left: 50%;
}

table {
    border: 1px solid grey;
    width: 100%;
}

table caption {
    caption-side: top;
    text-align: center;
    padding: 10px 0;
    font-size: 22px;

}

th,
td {
    padding: 10px 15px;
    border: 1px solid grey;
}

tr:hover td {
    background: #e8edff;
}